@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex-center {
  justify-content: space-around;
}

.parents {
  height: 100vh;
  width: 100vw;
  background-color: rgb(214, 224, 228);
}

.parent {
  padding: 20px;
  border-radius: 16px;
}

.leidos {
  height: 300px;
  width: 300px;
  background-color: palevioletred;
}

.no-leidos {
  height: 300px;
  width: 300px;
  background-color: rgb(255, 241, 47);
}

.parents-title {
  padding: 20px;
}

.input {
  padding: 10px;
}

.button {
  padding: 5px;
}

.contextName {
  display: flex;
  padding: 15px;
}
.name {
  margin-right: 10px;
}

.context-title {
  padding-bottom: 15px;
}

.nombres-title {
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  background-color: rgb(197, 231, 247);
  margin-top: 5px;
}

.libros {
  text-align: left;
}

.libro {
  margin-bottom: 10px;
}

.check {
  margin-left: 10px;
}

.box-center {
  text-align: center;
  border: 1px solid green;
  width: 80%;
  margin: auto;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center
}

.box-user {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  text-align: center;
  width: 80%;
  margin: auto;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #52575D; */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #d31c27;
  border-radius: 10px;
}

.active {
  background-color: rgb(211,108,28, 0.7);
  border-radius: 10px;
  color: yellow;
  border-bottom-width: 5px solid #000;
}